{% extends "index.html" %}
    {% block content %}
    <title>Oops!</title>
</head>
<body>
    <div class="container p-5 bg-dark rounded-circle text-danger text-center">
        <h1 id="header">*Distressed butler sounds*</h1>
    </div>
    <ul class="nav nav-tabs nav-justified">
        <a class="navbar-brand" href="{{ url_for("views.homepage")}}">
            <img src="./static/creepy_butler.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
          </a>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("views.homepage")}}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for("views.pastprojects")}}">Past Projects</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("views.currentproject")}}">Current Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("views.futureprojects")}}">Future Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("views.about")}}">About/Contact</a>
          </li>
      </ul>
      <div class="container-fluid p-5 bg-dark">

      </div>
      <img src="./static/creepy_butler.png" class="mx-auto d-block">
      <div><h1 class="text-center">We're very sorry, we can't find that one</h1>
        <h2 class="text-center">Please recheck your link or use the ones above!</h2>
        <h2 class="text-center">(The butler shall be severely disciplined for this)</h2></div>
    
    {% endblock %}